In [1]:
import pandas as pd
import datetime as dt
import pymongo

In [2]:
file1=pd.read_csv('Business_Licenses.csv')
# file2=pd.read_csv('Sidewalk_Cafe_Permits.csv')

df1=pd.DataFrame(file1)
# df2=pd.DataFrame(file2)
df1.head()

C:\Users\nilay\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (9,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,LICENSE TERM START DATE,LICENSE TERM EXPIRATION DATE,LICENSE APPROVED FOR ISSUANCE,DATE ISSUED,LICENSE STATUS,LICENSE STATUS CHANGE DATE,SSA,LATITUDE,LONGITUDE,LOCATION
0,22308-20060816,1723393,29481,1,BELL OIL TERMINAL INC,Bell Oil Terminal LLC,3741 S PULASKI RD 1,CHICAGO,IL,60623,...,08/16/2006,08/15/2007,08/10/2006,08/11/2006,AAI,NaN,NaN,41.825320,-87.723960,"(41.82531992987547, -87.72395999659746)"
1,1620668-20160516,2455262,295026,1,BUCCI BIG & TALL INC.,BUCCI BIG & TALL INC.,558 W ROOSEVELT RD,CHICAGO,IL,60607,...,05/16/2016,05/15/2018,05/18/2016,08/30/2016,AAI,NaN,NaN,41.867339,-87.641590,"(41.86733856638269, -87.64159005699716)"
2,2368602-20160616,2460909,291461,3,"PROJECT: VISION , INC.","PROJECT : VISION , INC",2301 S ARCHER AVE 1 1,CHICAGO,IL,60616,...,06/16/2016,06/15/2017,06/21/2016,06/22/2016,AAC,08/30/2016,NaN,41.850843,-87.638734,"(41.85084294374687, -87.63873424399071)"
3,2060891-20141016,2353257,357247,1,FOLASHADE'S CLEANING SERVICE INC.,FOLASHADE'S CLEANING SERVICE INC.,1965 BERNICE RD 1 1SW,LANSING,IL,60438,...,10/16/2014,10/15/2016,04/01/2016,04/01/2016,AAI,NaN,38.0,41.951316,-87.678586,"(41.95131555606832, -87.67858578019546)"
4,1144216-20070516,1804790,147,63,WALGREEN CO.,Walgreens # 05192,9148 S COMMERCIAL AVE 1ST,CHICAGO,IL,60617,...,05/16/2007,05/15/2008,05/10/2007,05/11/2007,AAI,NaN,5.0,41.728622,-87.551366,"(41.72862173556932, -87.55136646594693)"

In [50]:
df=df1[['ACCOUNT NUMBER','DOING BUSINESS AS NAME','ADDRESS','CITY','STATE','ZIP CODE','LICENSE DESCRIPTION',
       'BUSINESS ACTIVITY ID','BUSINESS ACTIVITY','APPLICATION TYPE','LICENSE TERM START DATE',
       'LICENSE TERM EXPIRATION DATE','DATE ISSUED', 'LICENSE STATUS','LATITUDE', 'LONGITUDE', 'LOCATION']]

df=df.loc[(df['BUSINESS ACTIVITY ID']=='775')|
          (df['BUSINESS ACTIVITY ID']=='782') |
         (df['BUSINESS ACTIVITY ID']=='735')]

df['license_id']=df.reset_index().index

In [52]:
df['Expiration']=pd.to_datetime(df['LICENSE TERM EXPIRATION DATE']).dt.year

In [53]:
df['is_active']=[True if value>2018 else False for value in df['Expiration']]

In [54]:
active_df=df[df['is_active']==True].sort_values('Expiration',
                                                ascending=False).drop_duplicates(subset=['ACCOUNT NUMBER'])
active_df['active_id']=active_df.reset_index().index

In [59]:

active_licenses_table=active_df[['active_id','license_id','LICENSE DESCRIPTION','BUSINESS ACTIVITY ID',
                                 'BUSINESS ACTIVITY','LICENSE TERM START DATE','LICENSE TERM EXPIRATION DATE']]

licenses_table=df[['license_id','LICENSE DESCRIPTION','BUSINESS ACTIVITY ID','BUSINESS ACTIVITY','APPLICATION TYPE',
                    'DATE ISSUED']]

active_locations_table=active_df[['active_id','DOING BUSINESS AS NAME','LATITUDE','LONGITUDE','ADDRESS','CITY','STATE',
                          'ZIP CODE']]

In [57]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [58]:
db = client.restaurants_db

In [60]:
collection = db.active_licenses
data=active_licenses_table.to_dict(orient='records')
collection.insert_many(data)

In [61]:
collection=db.licenses
data=licenses_table.to_dict(orient='records')
collection.insert_many(data)

In [62]:
collection=db.active_locations
data=active_locations_table.to_dict(orient='records')
collection.insert_many(data)

In [ ]:
results = db.active_licenses.find()
for result in results:
    print(result)