In [2]:
import pymongo
import pandas as pd

In [16]:
df1=pd.DataFrame(pd.read_csv('active_licenses.csv'))
df2=pd.DataFrame(pd.read_csv('../Toni_Yelp/Extracted_Yelp_Data.csv'))
df2=df2[['name','address1','city','state','zip_code','latitude','longitude','review_count','rating','price']]
df2.head()

,name,address1,city,state,zip_code,latitude,longitude,review_count,rating,price
0,Girl & the Goat,809 W Randolph St,Chicago,IL,60607,41.884176,-87.647944,7979,4.5,$$$
1,The Purple Pig,500 N Michigan Ave,Chicago,IL,60611,41.891020,-87.624562,6538,4.0,$$
2,Au Cheval,800 W Randolph St,Chicago,IL,60607,41.884660,-87.647668,6038,4.5,$$
3,Wildberry Pancakes and Cafe,130 E Randolph St,Chicago,IL,60601,41.884668,-87.622880,6011,4.5,$$
4,Lou Malnati's Pizzeria,439 N Wells St,Chicago,IL,60654,41.890357,-87.633704,5287,4.0,$$

In [17]:
df1=df1.rename(columns=str.lower)
df1['address']=df1['address'].str.lower()
df2['address1']=df2['address1'].str.lower()

In [18]:
df1['address_0']=df1['address'].str.split(' ').str[0]+' '+df1['address'].str.split(' ').str[1]+' '+df1['address'].str.split(' ').str[2]+' '+df1['address'].str.split(' ').str[3]

In [19]:
merge_df=pd.merge(df1,df2,how='inner',left_on='address_0',right_on='address1')
merge_df.count()

unnamed: 0                      773
unnamed: 0.1                    773
unnamed: 0.1.1                  773
unnamed: 0.1.1.1                773
account number                  773
doing business as name          773
address                         773
city_x                          773
state_x                         773
zip code                        771
license description             773
business activity id            773
business activity               773
application type                773
license term start date         773
license term expiration date    773
date issued                     773
license status                  773
latitude_x                      757
longitude_x                     757
location                        757
license_id                      773
expiration                      773
is_active                       773
active_id                       773
address_0                       773
name                            773
address1                        773
city_y                          773
state_y                         773
zip_code                        773
latitude_y                      773
longitude_y                     773
review_count                    773
rating                          773
price                           773
dtype: int64

In [21]:
merge_df.columns

Index(['unnamed: 0', 'unnamed: 0.1', 'unnamed: 0.1.1', 'unnamed: 0.1.1.1',
       'account number', 'doing business as name', 'address', 'city_x',
       'state_x', 'zip code', 'license description', 'business activity id',
       'business activity', 'application type', 'license term start date',
       'license term expiration date', 'date issued', 'license status',
       'latitude_x', 'longitude_x', 'location', 'license_id', 'expiration',
       'is_active', 'active_id', 'address_0', 'name', 'address1', 'city_y',
       'state_y', 'zip_code', 'latitude_y', 'longitude_y', 'review_count',
       'rating', 'price'],
      dtype='object')

In [24]:
new_df=merge_df[['doing business as name','address','city_x','state_x','zip_code','license description',
                'business activity id','business activity','application type','date issued',
                 'expiration','latitude_x','latitude_y','license_id','active_id','name','review_count','rating',
                'price']]

new_df.to_csv('joined_table.csv')